useDynLib(DynamicGP,.registration = TRUE)
export(svdGP,knnsvdGP,lasvdGP)
importFrom(parallel,makeCluster)
importFrom(parallel,parApply)
importFrom(parallel,stopCluster)
importFrom(laGP,darg)
importFrom(laGP,garg)
importFrom(laGP,newGPsep)
importFrom(laGP,jmleGPsep)
importFrom(laGP,llikGPsep)
importFrom(laGP,predGPsep)
importFrom(laGP,deleteGPsep)
importFrom(lhs,maximinLHS)
